.StandardSlider {
    margin-bottom: 56px;//64px;
    color: rgba(56, 54, 77, .6);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-size: .75rem;
    // display: flex;
    // align-items: center;
    // justify-content: flex-start;

}
