.Loading_overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgb(235,235,235);
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms linear;
}
.Loading_overlay.show {
    opacity: 1;
}
.Loading {
    opacity: 0;
    transition: opacity 250ms linear;
    width: 86px;
    height: 86px;
    z-index: 100;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.Loading.show {
    opacity: 1;
}
.Loading.forceAbsolute,
.Loading_overlay.forceAbsolute {
    position: absolute!important;
}
.double_bounce1, .double_bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:  #1a73e8;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk_bounce 2s infinite ease-in-out;
    animation: sk_bounce 2s infinite ease-in-out;
}
.double_bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
@-webkit-keyframes sk_bounce {
    0%, 100% {
        -webkit-transform: scale(0);
   }
    50% {
        -webkit-transform: scale(1);
   }
}
@keyframes sk_bounce {
    0%, 100% {
        transform: scale(0);
        -webkit-transform: scale(0);
   }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
   }
}
/* .Loading {
    width: 40px;
    height: 40px;
    background-color: $primary-color;
   //#333;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px) 
   }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg) 
   }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg) 
   }
}
@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
   }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
   }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
   }
}
*/

.Loading-packaging {
    background-image: url('/assets/loading_white_50.png');
    background-repeat: repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
    /* width: 150%;
    height: 150%;
    transform: scale(.8);
    margin-left: -20%;
    margin-top: -20%; */
}

/***************** START OF LOADING WHEEL *****************/
.lds_dual_ring {
    display: inline-block;
    width: 35px;
    height: 35px;
  }
  .lds_dual_ring:after {
    content: " ";
    display: block;
    width: 14px;
    height: 14px;
    margin: 8px;
    border-radius: 50%;
    border: 2px solid #7e7e86;
    border-color: #7e7e86 #7e7e86 #7e7e86 transparent; /*#555665*/
    animation: lds_dual_ring .75s linear infinite;
  }
  @keyframes lds_dual_ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
/***************** END OF LOADING WHEEL *****************/